/* @import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
	font-family: "Lato";
	color: #000000;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.1;
	background-color: #ffffff;
}

[class*="__container"] {
	max-width: 1260px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.page__one {
	margin-top: 25px;
}

.head__container {
	margin-top: 25px;
}
.head__title {
	font-size: 30px;
}
.head__subtitle {
	font-size: 20px;
}
.list {
	list-style-type: circle;
}

.head__input {
}
.input__container {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 45px;
}
.input__container-task {
	display: flex;
	gap: 15px;
	margin-bottom: 20px;
}
.input__task-box {
}
.input__task-text {
}
.input__task-number {
	outline: 1px solid;
}
.input__task-button {
	display: flex;
	gap: 22px;
	margin-bottom: 20px;
}
.button {
}
.input__result {
}

.result_1 {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	align-items: stretch;
}
.card-box {
	display: flex;
	flex-direction: column;
	max-width: 200px;
	background-color: #fff;
	font-size: 16px;
	border-radius: 5px;
	border: 3px solid transparent;
	cursor: pointer;
}
.card-box:hover {
	border: 3px solid #4bf364;
	transform: translate(0, -5px);
}
.top-sellers_sticker {
	margin-bottom: 15px;
	margin-left: 5px;
	margin-top: 5px;
	background-color: orange;
	color: white;
	padding: 5px;
	border-radius: 10px;
	max-width: 150px;
}
.card-image {
	margin-bottom: 10px;
	flex-grow: 1;
}
.card-image img {
	width: 150px;
	height: 100%;
}
.card-title {
	color: black;
	margin-bottom: 10px;
}
.card-price {
	text-align: left;
	color: red;
	margin-left: 10px;
	padding: 10px;
	font-size: 22px;
}
.promotion {
	background-color: red;
	width: 50%;
}
